{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
    <h1 class="text-center mt-4 mb-4">{{ titleProfil }}</h1>

    <div class="col-md offset-lg-2 col-lg-8">
        <div class="card">

            {% set imagePath = 'images/profil/' ~ app.user.imageFileName %}

            <img class="rounded-circle img-thumbnail offset-4 col-4"
                 src="{{ asset(imagePath) }}"
                 alt="Photo de profil">

            <div class="card-body offset-2">

                <h5 class="card-title">{{ app.user.firstName }} {{ app.user.lastName }}</h5>

                <p class="card-text">
                <div class="row">
                    <div class="col-5">Mail :</div>
                    <div class="col-5">{{ app.user.email }}</div>
                </div>


                <p class="card-text">
                <div class="row">
                    <div class="col-5">Nbre personne du foyer :</div>
                    <div class="col-5">{{ app.user.nbPerson }}</div>
                </div>

                <p class="card-text">
                <div class="row">
                    <div class="col-5">Rôle :</div>
                    {% if is_granted('ROLE_SUPER_ADMIN') == true %}
                        <div class="col-5">Dieu</div>
                    {% elseif is_granted('ROLE_MANAGER') == true %}
                        <div class="col-5">Employé de mairie</div>
                    {% else %}
                        <div class="col-5">Administré</div>
                    {% endif %}
                </div>

            </div>

            <p class="card-text alert-danger mt-4 p-2 m-2 text-center">Pour toute modification de votre profil, veuillez contacter votre gentil personnel de mairie. Merci.</p>

        </div>
    </div>

    <div class="text-center mt-5">
        <a class="btn btn-info align-content-center" href="/">Retour</a>
    </div>

{% endblock %}
